/**
Kanban boards styles
**/

.kanban-container {
  display: flex;
  gap: 5px; /* Add space between project columns */
}

.kanban-column {
  flex: 0 0 150px; /* Set a fixed width for each project column */
  background-color: lightgray;
  padding: 5px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

.accepted {
    background-color: green !important;
    color: white !important;
}

.partially-accepted {
    background-color: #70A3CC !important;
    color: white !important;
}


.offered {
    background-color: orange !important;
    color: white !important;
}

.interesting {
    background-color: #00008b !important;
    color: white !important;
}



.accepted a, .offered a, .interesting a {
    color: white !important;

}

.column-header {
  font-weight: bold;
  color: rgb(79, 107, 231);
  margin-bottom: 10px;
  font-size: 16px;
  height: 50px;
  padding-top: 5px;
  margin-top: 0;
}

.kanban-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 4px;
  font-size: 14px;
}

.side_menu {
    position: fixed; /* Fixed position relative to the viewport */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    width: 200px; /* Set the width of the side menu */
    height: 100%; /* Full height */
    background-color: #f0f0f0; /* Background color of the menu */
    overflow-x: hidden; /* Prevent horizontal overflow */
    overflow-y: auto; /* Enable vertical scrolling if necessary */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional: add some shadow for a subtle depth effect */
    /* z-index: 1000; /* Ensure the menu is on top of other content */
    padding-top: 20px; /* Add some padding at the top */
}

.main_content {
    margin-left: 220px; /* Adjust the margin to be slightly more than the width of the side_menu */
    padding: 20px;
}

.side_menu a {
    padding: 10px 15px; /* Padding inside the links for better clickability */
    text-decoration: none; /* Remove underlines from links */
    font-size: 16px; /* Set font size */
    color: #333; /* Set text color */
    display: block; /* Make the links fill the container width */
    transition: 0.3s; /* Smooth transition for hover effect */
}

.side_menu a:hover {
    color: #fff; /* Change text color on hover */
    background-color: #575757; /* Change background color on hover */
}