{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block top_links_menu %}

        <a href="/dashboard/new_all">New All Intake Dashboard</a>
        <a href="/dashboard/new_signed">New Signed Intake Dashboard</a>
        <a href="/dashboard/new_signed_and_accepted">New Signed and Accepted Intake Dashboard</a>
        <a href="/dashboard/new_signed_and_offered">New Signed and Offered Intake Dashboard</a>
        <a href="/dashboard/current">Current Intake Dashboard</a>
        <a href="/dashboard/finished">Finished Intake Dashboard</a>

{% endblock %}

{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th, td {
        border: 1px solid #ccc;
        padding: 5px;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    caption {
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 10px;
    }

.dashboard-container {
        display: flex;
        justify-content: space-between;
    }

    .button-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .table-container {
        flex: 2;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .button-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        padding: 40px;
        
    }

    .button-grid a {
        padding: 40px;
        background-color: #49A942;
        color: white;
        border: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        display: block; 
        border-radius: 1rem;
    }

    .button-grid a:hover {
        background-color: #b3e1af;
        box-shadow: 2px 3px 5px 0px #677267;
    }


    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 5px;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<div class="dashboard-container">
    <div class="button-container">
        <!-- New button grid with links -->
        <div class="button-grid">
<!--            <a href="/phone_interview">Interview New Candidates</a>-->
<!--            <a href="/new_intake_new">Announcement to Candidates</a>-->
<!--            <a href="/current_student">Dowanload Empty WEHI email</a>-->
<!--            <a href="/emailall">Announcement to All Students</a>-->
<!--            <a href="/add_to_github">Add Student to Github</a>-->
<!--            <a href="/your-link-6">Manage Student to Intake</a>-->
<!--            <a href="/projects">Edit Intake</a>-->
<!--            <a href="/intakes">Edit Project</a>-->
<!--            <a href="/your-link-9">Allocate Project</a>-->
            <a href = "https://wehieduau.sharepoint.com/sites/StudentInternGroupatWEHI/Shared%20Documents/Forms/AllItems.aspx?csf=1&web=1&e=H7kduJ&cid=cc199a42%2Daf65%2D44f6%2D92ce%2D662a136c0b0f&FolderCTID=0x0120008FF8F20683AC284798EA496C639CC069&id=%2Fsites%2FStudentInternGroupatWEHI%2FShared%20Documents%2FIntroductions%2F2024S1%20Profile%20Pictures">Add Profile Picture</a>
            <a href = "/github_username">Github Username</a>
            <a href = "/current_student">Empty WEHI Email</a>
            <a href = "">Allocation</a>
        </div>
    </div>
</div>


{% endblock %}