{% extends 'base.html' %}

{% block title %}Error{% endblock %}

{% block page_title %}Error Page{% endblock %}
{% block top_links_menu %} {% endblock %}



{% block content %}
<style>
    table {
        width: 50%;
        border: #ddd;
    }
    
    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    th {
        background-color: #f2f2f2;
    }
</style>

    <h1>An Error Occurred</h1>
    <p>{{ error_message }}</p>

{% endblock %}
