{% extends 'base.html' %}

{% block title %}Add Project{% endblock %}

{% block page_title %}Add Project{% endblock %}

{% block top_links_menu %}
    <!-- Your top links menu goes here if needed -->
{% endblock %}
{% block content %}

    <h1>Add Project</h1>
    <form method="POST" action="/add_project"> <!-- Update the action to point to the appropriate route -->
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <select class="form-control" id="status" name="status" required>
                <option value="0">0 - for unassigned</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4 </option>
                <option value="5">5 - archived</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Project</button> <!-- Update the button text -->
    </form>
{% endblock %}
