{% extends 'base.html' %}

{% block title %}Draggable Columns{% endblock %}
{% block page_title %}Allocate Students Projects{% endblock %}

{% block content %}

    <div id="app">
        {% for project in projects %}
        <div class="columns">
            <div class="column" v-for="project in projects" :key="project[0]">
                <h3>{{ project[1] }}</h3>
                <draggable v-model="project.students" class="items" group="columns" handle=".handle">
                    {% for student in students %}
                    <div class="item" v-for="student in project.students" :key="student[0]">
                        <div class="handle"></div>
                        <span>{{ student[1] }}</span>
                    </div>
                    {% endfor %}
                </draggable>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-draggable@2.23.0/dist/umd/vue-draggable.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                projects: [
                    {% for project in projects %}
                    {
                        id: {{ project[0] }},
                        name: {{ project[1] }},
                        students: [{% for student in students %}
                            { id: {{ student[0] }}, name: '{{ student[1] }}' },
                        {% endfor %}]
                    },
                    {% endfor %}
                    
                ]
            }
        });
    </script>
{% endblock %}
