{% extends 'base.html' %}

{% block title %} Project Students Allocation {% endblock %}
{% block page_title %}Projects Students Allocation{% endblock %}

{% block content %}

<div class="kanban-container">
  {% for project in projects %}
    <div class="kanban-column" data-project-id="{{ project[1] }}" ondrop="drop(event)" ondragover="allowDrop(event)">
      <h3 class="column-header"><a href="/share_students/{{ project[0] }}">{{ project[1] }}</a></h3>
      {% for student in students %}
        {% if project[1] == student[2]  %}
            {% if student[4] in("08 Accepted contract", "09 Signed contract", "10 Sent to be added to Workday", "11 Added to WEHI-wide Teams Group", "12 WEHI email created", "13 Internship started")  %}

              <div class="accepted kanban-card" data-student-id="{{ student[0] }}" draggable="true" ondragstart="drag(event)">
		      {{ student[1] }} ({{ student[7][:3] }})<br/> {{ student[3] }} <br/> {{ student[4] }} <br/> {{ student[5] }} <br/><a target="_blank" href="/pre_int_st_evaluation/{{ student[0] }}">View</a>
              </div>
            {% elif student[4] in ("07 Offered contact")  %}
              <div class="offered kanban-card" data-student-id="{{ student[0] }}" draggable="true" ondragstart="drag(event)">
	        {{ student[1] }} ({{ student[7][:3] }})<br/> {{ student[3] }} <br/> {{ student[4] }} <br/> {{ student[5] }} <br/><a target="_blank" href="/pre_int_st_evaluation/{{ student[0] }}">View</a>
              </div>
            {% elif student[6] in ("06 - TS - Recommend no sign up except under specific circumstances. ")  %}
              <div class="not-accepted kanban-card" data-student-id="{{ student[0] }}" draggable="true" ondragstart="drag(event)">
	        {{ student[1] }} ({{ student[7][:3] }})<br/> {{ student[3] }} <br/> {{ student[4] }} <br/> {{ student[5] }} <br/><a target="_blank" href="/pre_int_st_evaluation/{{ student[0] }}">View</a>
              </div>
             {% elif student[6] in ("05 - ETS - Recommend sign up for a specific project. ")  %}
              <div class="partially-accepted kanban-card" data-student-id="{{ student[0] }}" draggable="true" ondragstart="drag(event)">
	        {{ student[1] }} ({{ student[7][:3] }})<br/> {{ student[3] }} <br/> {{ student[4] }} <br/> {{ student[5] }} <br/><a target="_blank" href="/pre_int_st_evaluation/{{ student[0] }}">View</a>
              </div>
            {% else %}
              <div class="interesting kanban-card" data-student-id="{{ student[0] }}" draggable="true" ondragstart="drag(event)">
	        {{ student[1] }} ({{ student[7][:3] }})<br/> {{ student[3] }} <br/> {{ student[4] }} <br/> {{ student[5] }} <br/><a target="_blank" href="/pre_int_st_evaluation/{{ student[0] }}">View</a>
              </div>
            {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>

<!-- Drag and Drop Functionnality -->

<script>

  function allowDrop(event) {
    event.preventDefault();
  }
  function drag(event) {
    event.dataTransfer.setData("text", event.target.dataset.studentId);
  }

  function drop(event) {
    event.preventDefault();
    const studentId = event.dataTransfer.getData("text");
    const projectId = event.target.closest('.kanban-column').dataset.projectId;

    console.log('Student ID:', studentId);
    console.log('Project ID:', projectId);

    // Find the student element and target column
    const studentElement = document.querySelector(`[data-student-id="${studentId}"]`);
    const targetColumn = event.target.closest('.kanban-column');

    // printing in the console for testing if i was catching data  while debugging
    console.log('Student Element:', studentElement);
    console.log('Target Column:', targetColumn);

    if (studentElement && targetColumn) {
      // Move the student to the target column
      targetColumn.appendChild(studentElement);

      // Send AJAX request to update the student's project assignment in the database
      fetch('/update_project_assignment', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ internId: studentId, projectId: projectId })
      })
      .then(response => response.json())
      .then(data => {
        if (data.status === 'success') {
          console.log('Project assignment updated successfully.');
        } else {
          console.log('Failed to update project assignment.');
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('An error occurred while updating the project assignment.');
      });
    } else {
      console.log('Student or target column not found.');
    }
  }

  function addDragListeners() {
    const unassignedStudents = document.querySelectorAll('.unassigned .kanban-card');
    unassignedStudents.forEach(student => {
      student.addEventListener('dragstart', drag);
    });

    const projectColumns = document.querySelectorAll('.project-column');
    projectColumns.forEach(column => {
      column.addEventListener('dragover', allowDrop);
      column.addEventListener('drop', drop);
    });
  }

  // Initial call to add drag listeners when the page loads
  document.addEventListener('DOMContentLoaded', () => {
    addDragListeners();
  });
</script>

{% endblock %}
