{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block page_title %}Dashboard{% endblock %}


{% block content %}

    <table>
        <tr>
            <th>Value</th>
            <th>Count</th>
            <th>Equivalent</th>
        </tr>
        {% for value, count in breakdown_courses.items() %}
        <tr>
            <td>{{ value }}</td>
            <td>{{ count }}</td>
            <td>{{ count * 9000 if value == "Engineering" else count * 3000 }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td>{{ total_equivalent }}</td>
        </tr>
    </table>



    <table>
        <tr>
            <th>Value</th>
            <th>Count</th>
            <th>%</th>
        </tr>
        {% for value, count in breakdown_ratings.items() %}
        <tr>
            <td>{{ value }}</td>
            <td>{{ count }}</td>
            <td>{{ count/total_students*100 }}</td>
        </tr>
        {% endfor %}
    </table>



{% endblock %}
            


