{% extends 'base.html' %}

{% block title %}Email {{ intake[1] }} Intake{% endblock %}

{% block page_title %}Email {{ intake[1] }} Intake{% endblock %}

{% block top_links_menu %}
    <!-- Your top links menu goes here if needed -->
        <a href="/add_intake" >Add Intake</a>
{% endblock %}

{% block content %}


    <h1>Email {{ intake[1] }} Intake Table</h1>
    <table id="intakesTable" style="width:600px">
        <thead>
            <tr>
                <th>Week #</th>
                <th>Science</th>
                <th>Engineering</th>
            </tr>
        </thead>
        <tbody>
            {% for table_row in table_rows %}
            <tr>
                <td>{{ table_row["week_number"] }}</td>

                <td>{{ table_row["science"] }}
                    <a target="_blank" href="mailto:{{ science_student_emails }}?subject=[Science] {{ table_row["subject"]   }}&body={{ table_row["body"] }}">Email Science</a> &nbsp;
                </td>
                <td>{{ table_row["engit"] }} &nbsp;
                    <a target="_blank" href="mailto:{{ engit_student_emails }}?subject=[EngIT] {{ table_row["subject"]   }}&body={{ table_row["body"] }}">Email EngIT</a> &nbsp;

                </td>
                  
            </tr>
            {% endfor %}
            

        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        // Your JavaScript code for DataTables or other functionality goes here
        $(document).ready(function() {
            var table = $('#intakesTable').DataTable({
                "lengthMenu": [10, 25, 50, 100], // Customize the number of entries per page
                // Other DataTables options and initialization code can go here
            });
        });
    </script>
{% endblock %}

