{% extends 'base.html' %}

{% block title %}Give Feedback{% endblock %}

{% block page_title %}Give Feedback{% endblock %}

{% block content %}
    <style>
        form {
            width: 200px;
            margin: 0 auto;
            margin-left: 100px;
            margin-right: 100px;
        }

        table {
            width: 100%;
            margin-bottom: 20px;
        }

        tr {
            height: 40px;
        }

        td:first-child {
            width: 150px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        button[type="submit"] {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>

    <form action="/submit_feedback" method="POST">
        <input type="hidden" name="intern_id" value="{{ student[0] }}">
        <table>
            <tr>
                <td>Full Name:</td>
                <td>{{ student[1] }}</td>
            </tr>
            <tr>
                <td>Pronouns:</td>
                <td>{{ student[2] }}</td>
            </tr>
        </table>

        <label for="adaptability">Adaptability:</label>
        <select name="adaptability" id="adaptability" required>
            <option disabled selected>Select your Feedback</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
            <option value="{{ student[1] }} is reasonably adaptable, as {{ student[2] }} could change the direction of the project with some prompting when {{ student[2] }} was given new information.">{{ student[1] }} is reasonably adaptable, as {{ student[2] }} could change the direction of the project with some prompting when {{ student[2] }} was given new information.</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
        </select>

        <label for="learn_technical">Quickly learn technical concepts:</label>
        <select name="learn_technical" id="learn_technical">
            <option disabled selected>Select your Feedback</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
        </select>

        <label for="learn_conceptual">Quickly learn domain concepts:</label>
        <select name="learn_conceptual" id="learn_conceptual">
            <option disabled selected>Select your Feedback</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
        </select>

        <label for="collaborative">Collaborative by default:</label>
        <select name="collaborative" id="collaborative">
            <option disabled selected>Select your Feedback</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
        </select>

        <label for="ambiguity">Tolerance for ambiguity:</label>
        <select name="ambiguity" id="ambiguity">
            <option disabled selected>Select your Feedback</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
        </select>

        <label for="complexity">Tolerance for complexity:</label>
        <select name="complexity" id="complexity">
            <option disabled selected>Select your Feedback</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
        </select>

        <label for="my_reaction">My Reaction:</label>
        <select name="my_reaction" id="my_reaction">
            <option disabled selected>Select your Feedback</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
            <option value="{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.">{{ student[1] }} is highly adaptable, as {{ student[2] }} could change the direction of the project easily when {{ student[2] }} was given new information.</option>
        </select>

        <br>
        <button type="submit">Submit</button>
    </form>

{% endblock %}
