{% extends 'base.html' %}

{% block title %}{{ title_of_page }} Index{% endblock %}

{% block page_title %}{{ title_of_page }}{% endblock %}

{% block content %}
    <!-- Add your content specific to the child template -->

    <table id="studentTable">
        <thead>
            <tr>
                <th><input type="checkbox" id="selectAllCheckbox"></th> <!-- Checkbox column -->
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Pronunciation</th>
                <th>Project</th>
                <th>Intake</th>
                <th>Course</th>
                <th>Status</th>
                <th>Post Internship Rating</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td><input type="checkbox" class="studentCheckbox"></td> <!-- Checkbox column -->
                <td>{{ student[0] }}</td>
                <td>{{ student[1] }}</td>
                {% if student[2] and student[2] != '' %}
                    <td><a href="mailto:{{ student[2] }}">{{ student[2] }}</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ student[3] }}</td>
                <td>{{ student[4] }}</td>
                <td>{{ student[5] }}</td>
                <td>{{ student[6] }}</td>
                <td>{{ student[7] }}</td>
                <td>{{ student[8] }}</td>
                <td><a href="/view/{{ student[0] }}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}



{% block scripts %}

    <script>
        $(document).ready(function() {
            var table = $('#studentTable').DataTable({
                "lengthMenu": [50, 100, 250, 500],  // Set the available options for the number of entries
                "dom": '<"top"if>rt<"bottom"lp><"clear">', // Place the information at the top
            });

            // Select/Deselect All checkboxes
            $('#selectAllBtn').on('click', function() {
                $('.studentCheckbox').prop('checked', true);
                table.rows().select();
            });

            $('#deselectAllBtn').on('click', function() {
                $('.studentCheckbox').prop('checked', false);
                table.rows().deselect();
            });

            // Select/Deselect All checkboxes
            $('#selectAllCheckbox').on('change', function() {
                var isChecked = $(this).is(':checked');
                $('.studentCheckbox').prop('checked', isChecked);
                table.rows().select(isChecked);
            });


            // Copy Emails button action
            $('#copyEmailsBtn').on('click', function() {
                var emails = [];
                var selectedRows = $('.studentCheckbox:checked').each(function() {

                    text = table.row($(this).closest('tr')).data();

                    // Extract the email address from the text
                    try {
                        // Code that may throw an error or exception
                        var email = text[3].match(/mailto:(.*?)"/)[1];
                        // Output the extracted email address
                        emails.push(email); // Assuming email is in the third column (index 2)
                    } catch (error) {
                        // Code to handle the error or exception
                        console.error('An error occurred:', error);
                    }

                });

                var emailsString = emails.join('\n');

                // Create a temporary textarea element and set its value to the emails string
                var textarea = $('<textarea>').val(emailsString).appendTo('body').select();

                // Copy the emails string to the clipboard
                document.execCommand('copy');

                // Remove the temporary textarea element
                textarea.remove();

                // Display a confirmation message
                alert('Emails have been copied to the clipboard.');
            });

            // Change Status button action
            $('#changeStatusBtn').on('click', function() {
                var status_id = $('#statusDropdown').val();
                var student_ids = [];
                var status_name = $('#statusDropdown option:selected').text();

                var selectedRows = $('.studentCheckbox:checked').each(function() {
                    text = table.row($(this).closest('tr')).data();
                    var id = text[1];
                    student_ids.push(id);
                });

                data = {
                    student_ids: student_ids,
                    new_status: status_name
                };

                url = '/change_status';
                // Send the POST request
                fetch(url, {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify(data)
                })
                  .then(response => {
                    if (response.ok) {
                      console.log('Status changed successfully');
                    } else {
                      console.error('An error occurred:', response.statusText);
                    }
                  })
                  .catch(error => {
                    console.error('An error occurred:', error);
                  });
            });
        });
    </script>
{% endblock %}

