{% extends 'base.html' %}

{% block title %}Intakes Index{% endblock %}

{% block page_title %}Intakes{% endblock %}

{% block top_links_menu %}
<a href="/add_intake">Add Intake</a>
{% endblock %}

{% block content %}
<h1>Intakes Table</h1>
<form id="intakeFilterForm">
    <label for="intakeSelect">Filter by Intake:</label>
    <select id="intakeSelect" name="selected_intake">
        <option value="" selected>Show All Intakes</option>
        {% for intake in intakes %}
        <option value="{{ intake[1] }}">{{ intake[1] }}</option>
        {% endfor %}
    </select>
</form>

<table id="intakesTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
            <th>All Students</th>
        </tr>
    </thead>
    <tbody>
        {% for intake in intakes %}
        <tr data-intake="{{ intake[1] }}">
            <td>{{ intake[0] }}</td>
            <td>{{ intake[1] }}</td>
            <td>{{ intake[2] }}</td>
            <td>
                <a href="/edit_intake/{{ intake[0] }}">Edit</a>&nbsp;
                <a href="/email_intake/{{ intake[0] }}">Emails</a>&nbsp;
            </td>
            <td>
                <a href="/students_by_intake/{{ intake[1] }}">All Students</a> <!-- Link to your new route -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var table = $('#intakesTable').DataTable({
            "lengthMenu": [10, 25, 50, 100]
        });

        // Filter rows by selected intake
        $('#intakeSelect').on('change', function () {
            var selectedIntake = $(this).val();
            if (selectedIntake === "") {
                table.search('').draw();  // Show all rows
            } else {
                table.search(selectedIntake).draw();  // Filter rows by intake
            }
        });
    });
</script>
{% endblock %}