{% extends 'base.html' %}

{% block title %}{{ title_of_page }} Index{% endblock %}

{% block page_title %}{{ title_of_page }}{% endblock %}

{% block top_links_menu %}
<div id="emptyEmailUsers">
    <ul>
        {% for user in empty_email_users %}
            <li>ID: {{ user[0] }}, Name: {{ user[1] }}, Email: {{ user[4] }}</li> 
        {% endfor %}
    </ul>
</div>

    <a target="_blank" href="https://wehi-researchcomputing.github.io/students" >Student website</a>
    <a target="_blank" href="https://github.com/WEHI-ResearchComputing/WEHI-ResearchComputing.github.io" >Student website GitHub edit</a>
    <a target="_blank" href="https://wehi-researchcomputing.github.io/project-wikis" >Wikis</a>
    <a target="_blank" href="https://redcap.wehi.edu.au/surveys/?s=AMYXK9FFHXR9LE9T" >REDCap Enrollment Form</a>
    <a target="_blank" href="https://wehieduau.sharepoint.com/:w:/r/sites/rcp/Shared%20Documents/Student%20internships/RDM%230235%20Email%20templates%20for%20Student%20Internship%20Programme.docx?d=wb7b5709838c24f229cb1c5e79f6119c2&amp;csf=1&amp;web=1&amp;e=DcOcRO">RDM#0235 Email templates for Students</a>
    <a href="/download_empty_emails" class="btn btn-primary">Empty Wehi Email info(csv)</a >


{% endblock %}
