{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block top_links_menu %}

        <a href="/dashboard/new_all">New All Intake Dashboard</a>
        <a href="/dashboard/new_signed">New Signed Intake Dashboard</a>
        <a href="/dashboard/new_signed_and_accepted">New Signed and Accepted Intake Dashboard</a>
        <a href="/dashboard/new_signed_and_offered">New Signed and Offered Intake Dashboard</a>
        <a href="/dashboard/current">Current Intake Dashboard</a>
        <a href="/dashboard/finished">Finished Intake Dashboard</a>

{% endblock %}

{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th, td {
        border: 1px solid #ccc;
        padding: 5px;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    caption {
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 10px;
    }

.dashboard-container {
        display: flex;
        justify-content: space-between;
    }

    .button-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .table-container {
        flex: 2;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .button-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        padding: 40px;
    }

    .button-grid a {
        padding: 40px;
        background-color: #3173ee;
        color: white;
        border: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        display: block; /* Make the links fill their container */
    }

    .button-grid a:hover {
        background-color: #255eb1;
    }


    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 5px;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<div class="dashboard-container">
    <div class="button-container">
        <!-- New button grid with links -->
        <div class="button-grid">
            <a href="/phone_interview">Interview New Candidates</a>
            <a href="/new_intake_new">Announcement to Candidates</a>
            <a href="/current_intake">Announcement to Current Students</a>
            <a href="/emailall">Announcement to All Students</a>
            <a href="/add_to_github">Add Student to Github</a>
            <a href="/your-link-6">Manage Student to Intake</a>
            <a href="/projects">Edit Intake</a>
            <a href="/intakes">Edit Project</a>
            <a href="/your-link-9">Allocate Project</a>
        </div>
    </div>
</div>


{% endblock %}