{% extends 'base.html' %}

{% block title %}Projects Index{% endblock %}

{% block page_title %}Projects{% endblock %}

{% block top_links_menu %}
    <a href="/add_project">Add Project</a>
{% endblock %}

{% block content %}
    <h1>Projects Table</h1>
    <table id="projectsTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project[0] }}</td>
                <td>{{ project[1] }}</td>
                <td>{{ project[2] }}</td>
                <td>
                    <a href="{{ url_for('edit_project', project_id=project[0]) }}">Edit</a> |
                    <!-- Link to All Students filtered by Project -->
                    <a href="{{ url_for('all_students', project_id=project[0]) }}" class="btn btn-info">Show All Students</a> |
                    <!-- Link to Current Students filtered by Project -->
                    <a href="{{ url_for('current_students', project_id=project[0]) }}">Show Current Students</a>
                </td>
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#projectsTable').DataTable({
                "lengthMenu": [10, 25, 50, 100],
            });
        });
    </script>
{% endblock %}
