{% extends 'base.html' %}

{% block title %}Student Details{% endblock %}

{% block page_title %}Student Details{% endblock %}

{% block top_links_menu %}

        <a href="/edit_student/{{ student[0] }}" id="editBtn">Edit Student</a>
{% endblock %}


{% block content %}
        <table>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>intern_id</td>
            <td>{{ student[0] }}</td>
        </tr>
        <tr>
            <td>full_name</td>
            <td>{{ student[1] }}</td>
        </tr>
        <tr>
            <td>pronouns</td>
            <td>{{ student[2] }}</td>
        </tr>
        <tr>
            <td>status</td>
            <td>{{ student[3] }}</td>
        </tr>
        <tr>
            <td>email</td>
            <td>{{ student[4] }}</td>
        </tr>
        <tr>
            <td>mobile</td>
            <td>{{ student[5] }}</td>
        </tr>
        <tr>
            <td>course</td>
            <td>{{ student[6] }}</td>
        </tr>
        <tr>
            <td>course_major</td>
            <td>{{ student[7] }}</td>
        </tr>
        <tr>
            <td>link_to_application_doc</td>
            <td>
                {% if matching_files %}
                    <ul>
                        {% for file_name in matching_files %}

                            <li><a href="/view_docs/{{ file_name }}">Link to {{ file_name }} File</a></li>

                        {% endfor %}
                    </ul>
                {% else %}
                    No matching files found.
                {% endif %}

            </td>
        </tr>

        <tr>
            <td>read_student_handbook</td>
            <td>{{ student[9] }}</td>
        </tr>
        <tr>
            <td>read_student_projects</td>
            <td>{{ student[10] }}</td>
        </tr>
        <tr>
            <td>cover_letter_projects</td>
            <td>{{ student[11] }}</td>
        </tr>
        <tr>
            <td>cover_letter_concept</td>
            <td>{{ student[12] }}</td>
        </tr>
        <tr>
            <td>cover_letter_technical</td>
            <td>{{ student[13] }}</td>
        </tr>
        <tr>
            <td>pronunciation</td>
            <td>{{ student[14] }}</td>
        </tr>
        <tr>
            <td>project</td>
            <td>{{ student[15] }}</td>
        </tr>
        <tr>
            <td>start_date</td>
            <td>{{ student[16] }}</td>
        </tr>
        <tr>
            <td>end_date</td>
            <td>{{ student[17] }}</td>
        </tr>
        <tr>
            <td>hours_per_week</td>
            <td>{{ student[18] }}</td>
        </tr>
        <tr>
            <td>intake</td>
            <td>{{ student[19] }}</td>
        </tr>
        <tr>
            <td>supervisor_email</td>
            <td>{{ student[20] }}</td>
        </tr>
        <tr>
            <td>wehi_email</td>
            <td>{{ student[21] }}</td>
        </tr>
        <tr>
            <td>summary_tech_skills</td>
            <td>{{ student[22] }}</td>
        </tr>
        <tr>
            <td>summary_experience</td>
            <td>{{ student[23] }}</td>
        </tr>
        <tr>
            <td>summary_interest_in_projects</td>
            <td>{{ student[24] }}</td>
        </tr>
        <tr>
            <td>pre_internship_summary_recommendation_external</td>
            <td>{{ student[25] }}</td>
        </tr>
        <tr>
            <td>pre_internship_summary_recommendation_internal</td>
            <td>{{ student[26] }}</td>
        </tr>
        <tr>
            <td>pre_internship_technical_rating</td>
            <td>{{ student[27] }}</td>
        </tr>
        <tr>
            <td>pre_internship_social_rating</td>
            <td>{{ student[28] }}</td>
        </tr>
        <tr>
            <td>pre_internship_learning_quickly</td>
            <td>{{ student[29] }}</td>
        </tr>
        <tr>
            <td>pre_internship_enthusiasm</td>
            <td>{{ student[30] }}</td>
        </tr>
        <tr>
            <td>pre_internship_experience</td>
            <td>{{ student[31] }}</td>
        </tr>
        <tr>
            <td>pre_internship_communication</td>
            <td>{{ student[32] }}</td>
        </tr>
        <tr>
            <td>pre_internship_adaptable</td>
            <td>{{ student[33] }}</td>
        </tr>
        <tr>
            <td>pre_internship_problem_solver</td>
            <td>{{ student[34] }}</td>
        </tr>
        <tr>
            <td>post_internship_comments</td>
            <td>{{ student[35] }}</td>
        </tr>
        <tr>
            <td>post_internship_adaptability</td>
            <td>{{ student[36] }}</td>
        </tr>
        <tr>
            <td>post_internship_learn_technical</td>
            <td>{{ student[37] }}</td>
        </tr>
        <tr>
            <td>post_internship_learn_conceptual</td>
            <td>{{ student[38] }}</td>
        </tr>
        <tr>
            <td>post_internship_collaborative</td>
            <td>{{ student[39] }}</td>
        </tr>
        <tr>
            <td>post_internship_ambiguity</td>
            <td>{{ student[40] }}</td>
        </tr>
        <tr>
            <td>post_internship_complexity</td>
            <td>{{ student[41] }}</td>
        </tr>
        <tr>
            <td>post_internship_summary_rating_internal</td>
            <td>{{ student[42] }}</td>
        </tr>
        <tr>
            <td>post_internship_summary_rating_external</td>
            <td>{{ student[43] }}</td>
        </tr>
    </table>

    <h2>Upload Signed Contract</h2>
    <form action="{{ url_for('upload_signed_contract', intern_id=student[0], full_name=student[1]) }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf" required>
        <button type="submit">Upload</button>
    </form>


{% endblock %}
