<!DOCTYPE html>
<html>
<head>
    <title>Student Details</title>
</head>
<body>
    <h1>Student Details</h1>
    <table>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>intern_id</td>
            <td>{{ student[0] }}</td>
        </tr>
        <tr>
            <td>full_name</td>
            <td>{{ student[1] }}</td>
        </tr>
        <tr>
            <td>email</td>
            <td>{{ student[2] }}</td>
        </tr>
        <tr>
            <td>pronunciation</td>
            <td>{{ student[3] }}</td>
        </tr>
        <tr>
            <td>project</td>
            <td>{{ student[4] }}</td>
        </tr>
        <tr>
            <td>intake</td>
            <td>{{ student[5] }}</td>
        </tr>
        <tr>
            <td>course</td>
            <td>{{ student[6] }}</td>
        </tr>
        <tr>
            <td>status</td>
            <td>{{ student[7] }}</td>
        </tr>
    </table>
    <a href="/">Return</a>
</body>
</html>

